@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:regular&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 375px;
}

body {
  color: #323642;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.875rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.6875rem;
  font-weight: 500;
  line-height: 1.2857142857;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, from(#4cb649), to(#5ddf5a));
  background: -o-linear-gradient(bottom, #4cb649 0%, #5ddf5a 100%);
  background: linear-gradient(0deg, #4cb649 0%, #5ddf5a 100%);
  border-radius: 1.875rem;
}

.btn_t {
  color: #4cb649;
  border: 1px solid #4cb649;
  background: none;
  padding: 0.625rem;
}

.header__allert {
  background: #22252e;
  padding: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2.125rem;
     -moz-column-gap: 2.125rem;
          column-gap: 2.125rem;
  font-size: 0.75rem;
  line-height: 1.3333333333;
  color: #889099;
  position: relative;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.3125rem;
}

@supports (gap: clamp( 0.0000000625rem , -0.2648304195rem  +  1.1299433898vw , 0.625rem )) {
  .header__body {
    gap: clamp( 0.0000000625rem , -0.2648304195rem  +  1.1299433898vw , 0.625rem );
  }
}

@supports not (gap: clamp( 0.0000000625rem , -0.2648304195rem  +  1.1299433898vw , 0.625rem )) {
  .header__body {
    gap: calc(0.0000000625rem + 0.6249999375 * (100vw - 23.4375rem) / 55.3125);
  }
}

@supports (padding-top: clamp( 1.0625rem , 0.4269067797rem  +  2.7118644068vw , 2.5625rem )) {
  .header__body {
    padding-top: clamp( 1.0625rem , 0.4269067797rem  +  2.7118644068vw , 2.5625rem );
  }
}

@supports not (padding-top: clamp( 1.0625rem , 0.4269067797rem  +  2.7118644068vw , 2.5625rem )) {
  .header__body {
    padding-top: calc(1.0625rem + 1.5 * (100vw - 23.4375rem) / 55.3125);
  }
}

@supports (padding-bottom: clamp( 2.3125rem , 3.0243644068rem  +  -0.9039548023vw , 2.8125rem )) {
  .header__body {
    padding-bottom: clamp( 2.3125rem , 3.0243644068rem  +  -0.9039548023vw , 2.8125rem );
  }
}

@supports not (padding-bottom: clamp( 2.3125rem , 3.0243644068rem  +  -0.9039548023vw , 2.8125rem )) {
  .header__body {
    padding-bottom: calc(2.8125rem + -0.5 * (100vw - 23.4375rem) / 55.3125);
  }
}

.header__logo {
  font-family: Inter;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  color: #000;
  padding-top: 0.4375rem;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 500;
  line-height: 1.2857142857;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 0.1875rem;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 0.0000000625rem , -0.2648304195rem  +  1.1299433898vw , 0.625rem )) {
  .header__buttons {
    gap: clamp( 0.0000000625rem , -0.2648304195rem  +  1.1299433898vw , 0.625rem );
  }
}

@supports not (gap: clamp( 0.0000000625rem , -0.2648304195rem  +  1.1299433898vw , 0.625rem )) {
  .header__buttons {
    gap: calc(0.0000000625rem + 0.6249999375 * (100vw - 23.4375rem) / 55.3125);
  }
}

.header__buttons a:nth-last-child(2) {
  min-width: 5.625rem;
}

.allert-header__allert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ff8d00;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.allert-header__ip {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.allert-header__isp {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.allert-header__more {
  color: #ffffff;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.allert-header__close {
  position: absolute;
  right: 0.9375rem;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__sublist {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__item {
  position: relative;
}

.menu__item._active::before {
  width: 100%;
}

.menu__item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 0%;
  height: 0.1875rem;
  background: #4cb649;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.menu__item.active img {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.menu__item.active::before {
  width: 100%;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@supports (gap: clamp( 0.0000000625rem , -0.2648304195rem  +  1.1299433898vw , 0.625rem )) {
  .menu__link {
    gap: clamp( 0.0000000625rem , -0.2648304195rem  +  1.1299433898vw , 0.625rem );
  }
}

@supports not (gap: clamp( 0.0000000625rem , -0.2648304195rem  +  1.1299433898vw , 0.625rem )) {
  .menu__link {
    gap: calc(0.0000000625rem + 0.6249999375 * (100vw - 23.4375rem) / 55.3125);
  }
}

.menu__link img {
  margin-bottom: 0.1875rem;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.footer {
  padding-bottom: 5.625rem;
  color: #889099;
}

@supports (padding-top: clamp( 2.75rem , 1.6906779661rem  +  4.5197740113vw , 5.25rem )) {
  .footer {
    padding-top: clamp( 2.75rem , 1.6906779661rem  +  4.5197740113vw , 5.25rem );
  }
}

@supports not (padding-top: clamp( 2.75rem , 1.6906779661rem  +  4.5197740113vw , 5.25rem )) {
  .footer {
    padding-top: calc(2.75rem + 2.5 * (100vw - 23.4375rem) / 55.3125);
  }
}

.footer__container {
  padding: 0 1.25rem;
}

.footer__logo {
  line-height: 1.2222222222;
  letter-spacing: 0.7px;
  color: #000000;
}

@supports (font-size: clamp( 1.125rem , 0.8866525424rem  +  1.0169491525vw , 1.6875rem )) {
  .footer__logo {
    font-size: clamp( 1.125rem , 0.8866525424rem  +  1.0169491525vw , 1.6875rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.8866525424rem  +  1.0169491525vw , 1.6875rem )) {
  .footer__logo {
    font-size: calc(1.125rem + 0.5625 * (100vw - 23.4375rem) / 55.3125);
  }
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.4375rem;
     -moz-column-gap: 1.4375rem;
          column-gap: 1.4375rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 2.1875rem;
}

@supports (margin-top: clamp( 3.3125rem , 3.1800847458rem  +  0.5649717514vw , 3.625rem )) {
  .footer__body {
    margin-top: clamp( 3.3125rem , 3.1800847458rem  +  0.5649717514vw , 3.625rem );
  }
}

@supports not (margin-top: clamp( 3.3125rem , 3.1800847458rem  +  0.5649717514vw , 3.625rem )) {
  .footer__body {
    margin-top: calc(3.3125rem + 0.3125 * (100vw - 23.4375rem) / 55.3125);
  }
}

.footer__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 16.6666%;
          flex: 1 1 16.6666%;
}

.footer__column_last {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.item-footer_programs {
  margin-bottom: 4.5rem;
}

@supports (margin-bottom: clamp( 2.3125rem , 1.3855932203rem  +  3.9548022599vw , 4.5rem )) {
  .item-footer_programs {
    margin-bottom: clamp( 2.3125rem , 1.3855932203rem  +  3.9548022599vw , 4.5rem );
  }
}

@supports not (margin-bottom: clamp( 2.3125rem , 1.3855932203rem  +  3.9548022599vw , 4.5rem )) {
  .item-footer_programs {
    margin-bottom: calc(2.3125rem + 2.1875 * (100vw - 23.4375rem) / 55.3125);
  }
}

.item-footer_about:not(:last-child) {
  margin-bottom: 2.5rem;
}

.item-footer__title {
  font-weight: 500;
  line-height: 1.2857142857;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
  margin-bottom: 1.5rem;
}

.item-footer__list li:not(:last-child) {
  margin-bottom: 1.125rem;
}

.item-footer__text {
  font-size: 0.75rem;
  line-height: 1.3333333333;
}

.item-footer__text p:first-child {
  margin-right: 0.03125rem;
  font-size: 0.875rem;
  line-height: 1.5714285714;
}

.item-footer__text p:not(:last-child) {
  margin-bottom: 1.0625rem;
}

.item-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}

.addons {
  margin-bottom: 1.875rem;
}

@supports (margin-bottom: clamp( 1.875rem , 2.4978813559rem  +  -0.790960452vw , 2.3125rem )) {
  .addons {
    margin-bottom: clamp( 1.875rem , 2.4978813559rem  +  -0.790960452vw , 2.3125rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 2.4978813559rem  +  -0.790960452vw , 2.3125rem )) {
  .addons {
    margin-bottom: calc(2.3125rem + -0.4375 * (100vw - 23.4375rem) / 55.3125);
  }
}

.addons__body {
  border: 1px solid #d7d8d9;
  border-radius: 0.375rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.101961);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.101961);
}

.addons__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.addons__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.addons__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (padding-top: clamp( 1.875rem , 1.0805084746rem  +  3.3898305085vw , 3.75rem )) {
  .addons__content {
    padding-top: clamp( 1.875rem , 1.0805084746rem  +  3.3898305085vw , 3.75rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.0805084746rem  +  3.3898305085vw , 3.75rem )) {
  .addons__content {
    padding-top: calc(1.875rem + 1.875 * (100vw - 23.4375rem) / 55.3125);
  }
}

@supports (padding-bottom: clamp( 0.875rem , 0.2658898305rem  +  2.5988700565vw , 2.3125rem )) {
  .addons__content {
    padding-bottom: clamp( 0.875rem , 0.2658898305rem  +  2.5988700565vw , 2.3125rem );
  }
}

@supports not (padding-bottom: clamp( 0.875rem , 0.2658898305rem  +  2.5988700565vw , 2.3125rem )) {
  .addons__content {
    padding-bottom: calc(0.875rem + 1.4375 * (100vw - 23.4375rem) / 55.3125);
  }
}

@supports (padding-left: clamp( 1.875rem , 1.0805084746rem  +  3.3898305085vw , 3.75rem )) {
  .addons__content {
    padding-left: clamp( 1.875rem , 1.0805084746rem  +  3.3898305085vw , 3.75rem );
  }
}

@supports not (padding-left: clamp( 1.875rem , 1.0805084746rem  +  3.3898305085vw , 3.75rem )) {
  .addons__content {
    padding-left: calc(1.875rem + 1.875 * (100vw - 23.4375rem) / 55.3125);
  }
}

@supports (padding-right: clamp( 1.875rem , 1.0805084746rem  +  3.3898305085vw , 3.75rem )) {
  .addons__content {
    padding-right: clamp( 1.875rem , 1.0805084746rem  +  3.3898305085vw , 3.75rem );
  }
}

@supports not (padding-right: clamp( 1.875rem , 1.0805084746rem  +  3.3898305085vw , 3.75rem )) {
  .addons__content {
    padding-right: calc(1.875rem + 1.875 * (100vw - 23.4375rem) / 55.3125);
  }
}

.addons__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 1.25rem;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.4166666667;
  color: #22252e;
}

.addons__info {
  line-height: 1.5714285714;
  margin-bottom: 0.5rem;
}

.addons__name {
  margin-right: 0.6875rem;
}

.addons__date {
  color: #889099;
}

.addons__tegs {
  font-size: 0.75rem;
  line-height: 1.3333333333;
  letter-spacing: 0.5px;
  color: #4cb649;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
}

.addons__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  line-height: 1.5714285714;
  color: #889099;
}

.addons__comments img {
  margin-right: 0.5625rem;
  margin-bottom: 0.125rem;
  margin-left: 0.3125rem;
}

.tags {
  margin-bottom: 2.5rem;
}

.tags__body {
  background: #f7f7f7;
  border-radius: 0.25rem;
  padding: 1.3125rem 2rem;
  font-weight: 500;
  line-height: 1.2857142857;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports ((-moz-column-gap: clamp( 0.3125rem , -0.6938559322rem  +  4.2937853107vw , 2.6875rem )) or (column-gap: clamp( 0.3125rem , -0.6938559322rem  +  4.2937853107vw , 2.6875rem ))) {
  .tags__body {
    -webkit-column-gap: clamp( 0.3125rem , -0.6938559322rem  +  4.2937853107vw , 2.6875rem );
       -moz-column-gap: clamp( 0.3125rem , -0.6938559322rem  +  4.2937853107vw , 2.6875rem );
            column-gap: clamp( 0.3125rem , -0.6938559322rem  +  4.2937853107vw , 2.6875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.3125rem , -0.6938559322rem  +  4.2937853107vw , 2.6875rem )) or (column-gap: clamp( 0.3125rem , -0.6938559322rem  +  4.2937853107vw , 2.6875rem ))) {
  .tags__body {
    -webkit-column-gap: calc(0.3125rem + 2.375 * (100vw - 23.4375rem) / 55.3125);
       -moz-column-gap: calc(0.3125rem + 2.375 * (100vw - 23.4375rem) / 55.3125);
            column-gap: calc(0.3125rem + 2.375 * (100vw - 23.4375rem) / 55.3125);
  }
}

.tags__list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.8px;
  color: #4cb649;
}

@supports ((-moz-column-gap: clamp( 0.3125rem , -0.4555084746rem  +  3.2768361582vw , 2.125rem )) or (column-gap: clamp( 0.3125rem , -0.4555084746rem  +  3.2768361582vw , 2.125rem ))) {
  .tags__list {
    -webkit-column-gap: clamp( 0.3125rem , -0.4555084746rem  +  3.2768361582vw , 2.125rem );
       -moz-column-gap: clamp( 0.3125rem , -0.4555084746rem  +  3.2768361582vw , 2.125rem );
            column-gap: clamp( 0.3125rem , -0.4555084746rem  +  3.2768361582vw , 2.125rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.3125rem , -0.4555084746rem  +  3.2768361582vw , 2.125rem )) or (column-gap: clamp( 0.3125rem , -0.4555084746rem  +  3.2768361582vw , 2.125rem ))) {
  .tags__list {
    -webkit-column-gap: calc(0.3125rem + 1.8125 * (100vw - 23.4375rem) / 55.3125);
       -moz-column-gap: calc(0.3125rem + 1.8125 * (100vw - 23.4375rem) / 55.3125);
            column-gap: calc(0.3125rem + 1.8125 * (100vw - 23.4375rem) / 55.3125);
  }
}

@supports (margin-right: clamp( 0.3125rem , -0.4555084746rem  +  3.2768361582vw , 2.125rem )) {
  .tags__team {
    margin-right: clamp( 0.3125rem , -0.4555084746rem  +  3.2768361582vw , 2.125rem );
  }
}

@supports not (margin-right: clamp( 0.3125rem , -0.4555084746rem  +  3.2768361582vw , 2.125rem )) {
  .tags__team {
    margin-right: calc(0.3125rem + 1.8125 * (100vw - 23.4375rem) / 55.3125);
  }
}

@supports (margin-bottom: clamp( 4.3125rem , 4.2065677966rem  +  0.4519774011vw , 4.5625rem )) {
  .recent {
    margin-bottom: clamp( 4.3125rem , 4.2065677966rem  +  0.4519774011vw , 4.5625rem );
  }
}

@supports not (margin-bottom: clamp( 4.3125rem , 4.2065677966rem  +  0.4519774011vw , 4.5625rem )) {
  .recent {
    margin-bottom: calc(4.3125rem + 0.25 * (100vw - 23.4375rem) / 55.3125);
  }
}

.recent__posts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666%;
          flex: 0 0 66.666%;
}

.recent__title {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.375;
  color: #22252e;
  margin-bottom: 0.625rem;
}

@supports (margin-bottom: clamp( 0.625rem , 1.6927966102rem  +  -1.3559322034vw , 1.375rem )) {
  .recent__title {
    margin-bottom: clamp( 0.625rem , 1.6927966102rem  +  -1.3559322034vw , 1.375rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 1.6927966102rem  +  -1.3559322034vw , 1.375rem )) {
  .recent__title {
    margin-bottom: calc(1.375rem + -0.75 * (100vw - 23.4375rem) / 55.3125);
  }
}

.recent__list {
  margin-bottom: 2.0625rem;
}

@supports (margin-bottom: clamp( 2.0625rem , 4.4650423729rem  +  -3.0508474576vw , 3.75rem )) {
  .recent__list {
    margin-bottom: clamp( 2.0625rem , 4.4650423729rem  +  -3.0508474576vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 2.0625rem , 4.4650423729rem  +  -3.0508474576vw , 3.75rem )) {
  .recent__list {
    margin-bottom: calc(3.75rem + -1.6875 * (100vw - 23.4375rem) / 55.3125);
  }
}

.recent__list li {
  padding-bottom: 2rem;
  border-bottom: 1px solid #ebeced;
}

@supports (padding-top: clamp( 1.125rem , 0.7542372881rem  +  1.581920904vw , 2rem )) {
  .recent__list li {
    padding-top: clamp( 1.125rem , 0.7542372881rem  +  1.581920904vw , 2rem );
  }
}

@supports not (padding-top: clamp( 1.125rem , 0.7542372881rem  +  1.581920904vw , 2rem )) {
  .recent__list li {
    padding-top: calc(1.125rem + 0.875 * (100vw - 23.4375rem) / 55.3125);
  }
}

.recent__list li:nth-child(3n+1) {
  padding-bottom: 3.125rem;
}

@supports (padding-bottom: clamp( 2.1875rem , 1.7902542373rem  +  1.6949152542vw , 3.125rem )) {
  .recent__list li:nth-child(3n+1) {
    padding-bottom: clamp( 2.1875rem , 1.7902542373rem  +  1.6949152542vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 2.1875rem , 1.7902542373rem  +  1.6949152542vw , 3.125rem )) {
  .recent__list li:nth-child(3n+1) {
    padding-bottom: calc(2.1875rem + 0.9375 * (100vw - 23.4375rem) / 55.3125);
  }
}

.recent__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.334%;
          flex: 0 0 33.334%;
}

@supports (padding-left: clamp( 0.0000000625rem , -1.5889829619rem  +  6.779660904vw , 3.75rem )) {
  .recent__info {
    padding-left: clamp( 0.0000000625rem , -1.5889829619rem  +  6.779660904vw , 3.75rem );
  }
}

@supports not (padding-left: clamp( 0.0000000625rem , -1.5889829619rem  +  6.779660904vw , 3.75rem )) {
  .recent__info {
    padding-left: calc(0.0000000625rem + 3.7499999375 * (100vw - 23.4375rem) / 55.3125);
  }
}

.post-recent__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.post-recent__title {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.4166666667;
  color: #22252e;
}

@supports (margin-bottom: clamp( 0.4375rem , 0.8824152542rem  +  -0.5649717514vw , 0.75rem )) {
  .post-recent__title {
    margin-bottom: clamp( 0.4375rem , 0.8824152542rem  +  -0.5649717514vw , 0.75rem );
  }
}

@supports not (margin-bottom: clamp( 0.4375rem , 0.8824152542rem  +  -0.5649717514vw , 0.75rem )) {
  .post-recent__title {
    margin-bottom: calc(0.75rem + -0.3125 * (100vw - 23.4375rem) / 55.3125);
  }
}

.post-recent__info {
  line-height: 1.5714285714;
  margin-bottom: 0.5rem;
}

.post-recent__name {
  color: #323642;
  margin-right: 0.6875rem;
}

.post-recent__date {
  color: #889099;
}

.post-recent__tegs {
  font-size: 0.75rem;
  line-height: 1.3333333333;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4cb649;
  margin-bottom: 0.75rem;
}

.post-recent__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #889099;
  line-height: 1.5714285714;
}

.post-recent__comments img {
  margin-right: 0.59375rem;
}

.info-recent__search {
  margin-bottom: 2rem;
  position: relative;
}

.info-recent__search-btn {
  position: absolute;
  left: 1.25rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 1.125rem;
  height: 1.125rem;
}

.info-recent__input {
  border: 1px solid #d7d8d9;
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.9375rem 0.9375rem 0.9375rem 3.625rem;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.5555555556;
}

.info-recent__item {
  margin-bottom: 2rem;
  padding-bottom: 1.75rem;
  border-bottom: 1px solid #ebeced;
}

@supports (margin-bottom: clamp( 2rem , 4.4915254237rem  +  -3.1638418079vw , 3.75rem )) {
  .info-recent__item {
    margin-bottom: clamp( 2rem , 4.4915254237rem  +  -3.1638418079vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 2rem , 4.4915254237rem  +  -3.1638418079vw , 3.75rem )) {
  .info-recent__item {
    margin-bottom: calc(3.75rem + -1.75 * (100vw - 23.4375rem) / 55.3125);
  }
}

.info-recent__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.4166666667;
  color: #22252e;
  margin-bottom: 1.25rem;
}

.info-recent__item-list {
  padding-right: 0.3125rem;
}

.info-recent__item-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
  line-height: 1.5714285714;
}

.info-recent__item-li:not(:last-child) {
  margin-bottom: 1rem;
}

.info-recent__item-li::before {
  content: "";
  width: 0.1875rem;
  height: 0.1875rem;
  border-radius: 50%;
  background-color: #4cb649;
  margin-top: 0.5rem;
}

.info-recent__img {
  max-width: 21.25rem;
}

.info-recent__img img {
  width: 100%;
}

@supports (margin-bottom: clamp( 3.1875rem , 3.8103813559rem  +  -0.790960452vw , 3.625rem )) {
  .info-recent__img {
    margin-bottom: clamp( 3.1875rem , 3.8103813559rem  +  -0.790960452vw , 3.625rem );
  }
}

@supports not (margin-bottom: clamp( 3.1875rem , 3.8103813559rem  +  -0.790960452vw , 3.625rem )) {
  .info-recent__img {
    margin-bottom: calc(3.625rem + -0.4375 * (100vw - 23.4375rem) / 55.3125);
  }
}

.info-recent__cloud .info-recent__item-title {
  margin-bottom: 0.9375rem;
  margin-left: 0;
}

.info-recent__cloud-img {
  max-width: 20.25rem;
  margin-left: -0.625rem;
}

.info-recent__cloud-img img {
  width: 100%;
}

.signup {
  background: -o-linear-gradient(315deg, #3d4251 0%, #272b35 100%);
  background: linear-gradient(135deg, #3d4251 0%, #272b35 100%);
}

@supports (padding-top: clamp( 3.75rem , 2.6906779661rem  +  4.5197740113vw , 6.25rem )) {
  .signup {
    padding-top: clamp( 3.75rem , 2.6906779661rem  +  4.5197740113vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 3.75rem , 2.6906779661rem  +  4.5197740113vw , 6.25rem )) {
  .signup {
    padding-top: calc(3.75rem + 2.5 * (100vw - 23.4375rem) / 55.3125);
  }
}

@supports (padding-bottom: clamp( 2.8125rem , 2.5476694915rem  +  1.1299435028vw , 3.4375rem )) {
  .signup {
    padding-bottom: clamp( 2.8125rem , 2.5476694915rem  +  1.1299435028vw , 3.4375rem );
  }
}

@supports not (padding-bottom: clamp( 2.8125rem , 2.5476694915rem  +  1.1299435028vw , 3.4375rem )) {
  .signup {
    padding-bottom: calc(2.8125rem + 0.625 * (100vw - 23.4375rem) / 55.3125);
  }
}

.signup__title {
  font-weight: 300;
  line-height: 1.3333333333;
  text-align: center;
  letter-spacing: -0.5px;
  color: #ffffff;
  margin-bottom: 2.5rem;
}

@supports (font-size: clamp( 2rem , 1.5762711864rem  +  1.8079096045vw , 3rem )) {
  .signup__title {
    font-size: clamp( 2rem , 1.5762711864rem  +  1.8079096045vw , 3rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.5762711864rem  +  1.8079096045vw , 3rem )) {
  .signup__title {
    font-size: calc(2rem + 1 * (100vw - 23.4375rem) / 55.3125);
  }
}

.signup__row {
  margin-bottom: 3.125rem;
}

@supports (margin-bottom: clamp( 1.75rem , 1.1673728814rem  +  2.4858757062vw , 3.125rem )) {
  .signup__row {
    margin-bottom: clamp( 1.75rem , 1.1673728814rem  +  2.4858757062vw , 3.125rem );
  }
}

@supports not (margin-bottom: clamp( 1.75rem , 1.1673728814rem  +  2.4858757062vw , 3.125rem )) {
  .signup__row {
    margin-bottom: calc(1.75rem + 1.375 * (100vw - 23.4375rem) / 55.3125);
  }
}

.signup__item_big .signup__item-body {
  padding: 3.6875rem 0.625rem;
  border: 4px solid #4cb649;
  margin-top: 0rem;
}

@supports (padding-bottom: clamp( 2.5rem , 1.9968220339rem  +  2.1468926554vw , 3.6875rem )) {
  .signup__item_big .signup__item-body {
    padding-bottom: clamp( 2.5rem , 1.9968220339rem  +  2.1468926554vw , 3.6875rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.9968220339rem  +  2.1468926554vw , 3.6875rem )) {
  .signup__item_big .signup__item-body {
    padding-bottom: calc(2.5rem + 1.1875 * (100vw - 23.4375rem) / 55.3125);
  }
}

@supports (padding-top: clamp( 2.125rem , 1.4629237288rem  +  2.8248587571vw , 3.6875rem )) {
  .signup__item_big .signup__item-body {
    padding-top: clamp( 2.125rem , 1.4629237288rem  +  2.8248587571vw , 3.6875rem );
  }
}

@supports not (padding-top: clamp( 2.125rem , 1.4629237288rem  +  2.8248587571vw , 3.6875rem )) {
  .signup__item_big .signup__item-body {
    padding-top: calc(2.125rem + 1.5625 * (100vw - 23.4375rem) / 55.3125);
  }
}

.signup__item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  border: 1px solid #ebeced;
  border-radius: 6px;
  text-align: center;
  padding: 3rem 0.625rem 2.5rem;
  min-height: 21.5625rem;
  margin-top: 0.1875rem;
}

.signup__pay-title {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.5555555556;
  color: #ffffff;
}

.signup__pay-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.signup__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signup__links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.0625rem;
     -moz-column-gap: 1.0625rem;
          column-gap: 1.0625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.2857142857;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #4cb649;
}

.signup__links a::after {
  content: "";
  width: 0.9375rem;
  height: 0.625rem;
  background: url("../img/icons/arrow-right.svg") 0 0 no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-signup__title {
  font-weight: 700;
  line-height: 1.2857142857;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
  position: relative;
}

.item-signup__title::after {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  width: 1.5rem;
  height: 0.125rem;
  background: #4cb649;
}

.item-signup__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  color: #22252e;
  padding-bottom: 1.125rem;
  margin-bottom: 1rem;
  position: relative;
}

.item-signup__price::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  width: 12.5rem;
  height: 0.0625rem;
  background-color: #ebeced;
}

.item-signup__price-dol {
  margin-right: 0.5rem;
}

.item-signup__price-num {
  font-size: 3.5rem;
  line-height: 1.1785714286;
  letter-spacing: -1.5px;
  margin-right: 0.1875rem;
}

.item-signup__price-mo {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.item-signup__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 1.5714285714;
  margin-bottom: 1.5625rem;
}

.item-signup__btn {
  max-width: 12.8125rem;
  margin: 0 auto;
  width: 100%;
}

.item-signup__info-noprise {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #f24458;
  margin-right: 0.5rem;
}

.item-signup__info-save {
  font-weight: 700;
  margin-top: 0.25rem;
}

@media (min-width: 34.375em) {
  .signup__links {
    -webkit-column-gap: 2.75rem;
       -moz-column-gap: 2.75rem;
            column-gap: 2.75rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 42.5em) {
  .recent__post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .post-recent__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 37.89%;
            flex: 0 0 37.89%;
  }

@supports (margin-right: clamp( 0.625rem , -0.1694915254rem  +  3.3898305085vw , 2.5rem )) {
    .post-recent__img {
      margin-right: clamp( 0.625rem , -0.1694915254rem  +  3.3898305085vw , 2.5rem );
    }
}

@supports not (margin-right: clamp( 0.625rem , -0.1694915254rem  +  3.3898305085vw , 2.5rem )) {
    .post-recent__img {
      margin-right: calc(0.625rem + 1.875 * (100vw - 23.4375rem) / 55.3125);
    }
}
}

@media (min-width: 47.99875em) {
  .allert-header__close {
    top: 50%;
    -webkit-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

@supports (gap: clamp( 0.0000000625rem , -0.7680083856rem  +  3.2768360452vw , 1.8125rem )) {
    .menu__list {
      gap: clamp( 0.0000000625rem , -0.7680083856rem  +  3.2768360452vw , 1.8125rem );
    }
}

@supports not (gap: clamp( 0.0000000625rem , -0.7680083856rem  +  3.2768360452vw , 1.8125rem )) {
    .menu__list {
      gap: calc(0.0000000625rem + 1.8124999375 * (100vw - 23.4375rem) / 55.3125);
    }
}

  .menu__sublist {
    padding-top: 1.25rem;
    min-width: 9.375rem;
    position: absolute;
    left: 0;
    top: 0.625rem;
    -webkit-transform: translate(0px, 0.75rem);
        -ms-transform: translate(0px, 0.75rem);
            transform: translate(0px, 0.75rem);
    pointer-events: none;
  }

  .menu__subitem {
    background-color: #ffffff;
    padding: 0.3125rem;
    -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.101961);
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.101961);
  }

  .menu__item.active .menu__sublist {
    top: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .addons__body {
    min-height: 24.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .recent__btn {
    min-width: 16.25rem;
    margin-left: 52.7%;
    -webkit-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
}

@media (min-width: 61.99875em) {
  .header__buttons a:nth-last-child(1) {
    min-width: 10rem;
  }

  .menu__body {
    margin-left: -1.125rem;
  }

  .recent__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .recent__posts {
    border-right: 1px solid #ebeced;
  }

@supports (padding-right: clamp( 0.0000000625rem , -1.5889829619rem  +  6.779660904vw , 3.75rem )) {
    .recent__posts {
      padding-right: clamp( 0.0000000625rem , -1.5889829619rem  +  6.779660904vw , 3.75rem );
    }
}

@supports not (padding-right: clamp( 0.0000000625rem , -1.5889829619rem  +  6.779660904vw , 3.75rem )) {
    .recent__posts {
      padding-right: calc(0.0000000625rem + 3.7499999375 * (100vw - 23.4375rem) / 55.3125);
    }
}

  .signup__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .signup__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    padding: 0 0.625rem;
  }

  .signup__pay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
    max-width: 57.5rem;
    margin: 0 auto;
    margin-bottom: 2.0625rem;
  }

  .signup__pay-title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 6.25rem;
            flex: 0 0 6.25rem;
    margin-left: 0.625rem;
  }
}

@media (min-width: 78.75em) {
  .post-recent__title {
    min-width: 26.5625rem;
  }
}

@media (min-width: 95em) {
  .header__buttons {
    margin-right: -8.75rem;
  }
}

@media (max-width: 78.75em) {
  .header__logo {
    padding-top: 0;
  }
}

@media (max-width: 68.75em) {
  .footer__column:nth-child(3) {
    display: none;
  }

  .footer__column_last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .item-footer_about {
    margin-top: 2.5rem;
  }

  .item-footer_social {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 47%;
            flex: 0 0 47%;
  }

  .item-footer__links {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.875rem;
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .item-footer__links a {
    min-width: 2.625rem;
  }
}

@media (max-width: 61.99875em) {
  .header__container {
    padding: 0 0.625rem;
  }

  .header__buttons a:nth-last-child(1) {
    min-width: 0;
    padding: 0.6875rem 0.875rem;
  }

  .addons__body {
    margin: 0 -0.625rem;
  }

  .tags {
    display: none;
  }

  .recent__posts {
    margin-bottom: 3.75rem;
  }

  .recent__list li.hidden {
    display: none;
  }

@supports (padding-bottom: clamp( 3.125rem , 3.3919491525rem  +  -0.3389830508vw , 3.3125rem )) {
    .recent__list li:nth-child(3) {
      padding-bottom: clamp( 3.125rem , 3.3919491525rem  +  -0.3389830508vw , 3.3125rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 3.3919491525rem  +  -0.3389830508vw , 3.3125rem )) {
    .recent__list li:nth-child(3) {
      padding-bottom: calc(3.3125rem + -0.1875 * (100vw - 23.4375rem) / 55.3125);
    }
}

  .info-recent__search {
    margin: 0 -0.625rem;
    margin-bottom: 2.5rem;
  }

  .info-recent__img {
    margin-top: -1.5625rem;
  }

  .signup__item:not(:last-child) {
    margin-bottom: 1.125rem;
  }

  .signup__item_big .signup__item-body {
    border: 4px solid #ff8d00;
  }

  .signup__item_big .signup__item-body .item-signup__btn {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(3.81%, #ff8d00), color-stop(97.78%, #ffa400));
    background: -o-linear-gradient(bottom, #ff8d00 3.81%, #ffa400 97.78%);
    background: linear-gradient(0deg, #ff8d00 3.81%, #ffa400 97.78%);
  }

  .signup__pay {
    text-align: center;
    margin-bottom: 2.5rem;
  }

  .signup__pay-title {
    margin-bottom: 1.25rem;
  }

  .signup__pay-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 47.99875em) {
  .header__allert {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.75rem 2.375rem 0.6875rem 1.25rem;
    row-gap: 0.5625rem;
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .header__body {
    gap: 1.375rem;
  }

  .header__menu {
    font-size: 1.25rem;
  }

  .allert-header__ip {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 53%;
            flex: 0 0 53%;
  }

  .allert-header__isp {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 42%;
            flex: 0 0 42%;
    text-align: right;
  }

  .allert-header__more {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: right;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    margin-right: 0.625rem;
  }

  .allert-header__close {
    top: 0.9375rem;
  }

  .menu__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#4cb649), to(#5ddf5a));
    background: -o-linear-gradient(bottom, #4cb649 0%, #5ddf5a 100%);
    background: linear-gradient(0deg, #4cb649 0%, #5ddf5a 100%);
    padding-top: 5rem;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__body a:nth-child(2) {
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    background: -webkit-gradient(linear, left bottom, left top, from(#3d893a), to(#53ae51));
    background: -o-linear-gradient(bottom, #3d893a 0%, #53ae51 100%);
    background: linear-gradient(0deg, #3d893a 0%, #53ae51 100%);
    color: #ffffff;
  }

  .menu__sublist {
    height: 0;
  }

  .menu__item.active .menu__sublist {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    opacity: 1;
    visibility: visible;
    padding-top: 0.625rem;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .menu__link img {
    width: 1.25rem;
    height: 0.625rem;
  }

  .menu__link {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.5rem;
    height: 1rem;
    margin-left: -0.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__column_last {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .recent__btn {
    width: 100%;
  }

  .info-recent__item-title {
    margin-left: -0.3125rem;
    margin-bottom: 1.3125rem;
  }

  .info-recent__item-list {
    margin-left: 0.125rem;
  }
}

@media (max-width: 42.5em) {
  .post-recent__img {
    margin-bottom: 0.875rem;
  }
}

@media (max-width: 34.6875em) {
  .signup__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2.6875rem;
  }
}

@media (max-width: 29.99875em) {
  .signup__title {
    letter-spacing: normal;
  }

  .signup__title span {
    display: block;
    margin-right: 0.3125rem;
  }

  .signup__item:last-child .item-signup__info {
    margin-bottom: 0rem;
  }
}

@media (any-hover: hover) {
  .btn:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#3d893a), to(#53ae51));
    background: -o-linear-gradient(bottom, #3d893a 0%, #53ae51 100%);
    background: linear-gradient(0deg, #3d893a 0%, #53ae51 100%);
    color: #ffffff;
  }

  .allert-header__more:hover {
    text-decoration: underline;
  }

  .menu__sublink:hover {
    text-decoration: underline;
  }

  .menu__item:hover .menu__sublist {
    top: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .menu__item:hover img {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

  .menu__item:hover::before {
    width: 100%;
  }

  .item-footer__link:hover {
    text-decoration: underline;
  }

  .item-footer__links a:hover svg path {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .item-footer__links a:hover svg path:first-child {
    fill: #4cb649;
  }

  .tags a:hover {
    text-decoration: underline;
  }

  .signup__links a:hover {
    text-decoration: underline;
  }

  .signup__links a:hover::after {
    -webkit-transform: translate(3px, 0px);
        -ms-transform: translate(3px, 0px);
            transform: translate(3px, 0px);
  }
}